<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = { theme: { extend: { colors: { clifford: '#da373d', } }
      } }
    </script>
</head>
<body class="bg-gray-900">
 <!-- component -->

    <div class="flex flex-col justify-center items-center mt-10">
        <img src="./uploads/{{user.imagename}}" class="w-[5rem] h-[5rem] rounded-full  "/>
        <div class="font-bold text-2xl xs:text-l md:text-xl text-gray-100">{{user.name}}</div>
    </div>
    <form action="/approval" method="post" enctype="multipart/form-data" >
        <input type="email" name="email" value="suyash" class="w-0 z-[-1000]" readonly  />
    </form>
 
 <div class="text-gray-100 flex justify-center pt-2 font-extrabold text-xl xs:text-xl md:text-3xl">Students List </div>
<!-- component -->
<!-- component -->
<section class="container px-4 mx-auto mt-10">
    <div class="flex flex-col">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead class="bg-gray-50 dark:bg-gray-800">
                            <tr>
                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Name
                                </th>
                                
                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Phone
                                </th>

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Purpose
                                </th>

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Mode
                                </th>

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Return Date
                                </th>

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Return time
                                </th>

                                <th scope="col" class=" flex justify-center py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Approval
                                </th>

                                
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                           {{# each newUser}}
                            <tr>

                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    <div class="flex items-center gap-x-2">
                                        <img class="object-cover w-8 h-8 rounded-full" src="./uploads/{{this.imagename}}" alt="">
                                        <div>
                                            <h2 class="text-sm font-medium text-gray-800 dark:text-white ">{{this.name}}</h2>
                                            <p class="text-xs font-normal text-gray-600 dark:text-gray-400">{{this.email}}</p>
                                        </div>
                                    </div>
                                </td>

                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 text-emerald-500 bg-emerald-100/60 dark:bg-gray-800">
                                        <h2 class="text-sm font-normal">{{this.phone}}</h2>
                                    </div>
                                </td>
                                
                                <td class="px-4 py-4 text-sm font-medium text-gray-500 dark:text-gray-300 whitespace-nowrap">   
                                   <h2 class="text-sm font-normal">{{this.visitpurpose}}</h2>
                                </td>

                                <td class="px-4 py-4 text-sm font-medium text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    <div class="inline-flex items-center gap-x-3">
                                        <span>{{this.mode}}</span>
                                    </div>
                                </td>

                                <td class="px-4 py-4 text-sm font-medium text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    <div class="inline-flex items-center gap-x-3">
                                        <span>{{this.returndate}}</span>
                                    </div>
                                </td>

                                <td class="px-4 py-4 text-sm font-medium text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    <div class="inline-flex items-center gap-x-3">
                                        <span>{{this.returntime}}</span>
                                    </div>
                                </td>
                               
                                <td class=" py-4 text-sm whitespace-nowrap">
                                    <form action="/approval" method="post" enctype="multipart/form-data" >
                                    
                                    <div class="flex justify-center gap-x-2">
                                        <button type="submit" name="status" value="Approved" class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 text-emerald-500 bg-emerald-100/60 dark:bg-gray-800 hover:bg-green-300">
                                            Approved
                                        </button>

                                        <button type="submit" name="status" value="Disapproved" class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 text-red-500 bg-red-100/60 dark:bg-gray-800 hover:bg-red-300">
                                            Disapproved
                                        </button>
                                    </div>
                                    </form>
                                </td>
                   {{/each}}
                   
                   
                            </tr>
                             

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    
</section>
	
     {{!-- lnmiit  logo --}}
    <div class="flex items-end justify-end fixed bottom-0 right-0 mb-4 mx-10 mr-4 z-10">
      <div>
        <a href="/" class="block w-16 h-16 rounded-full transition-all shadow hover:shadow-lg transform hover:scale-110 hover:rotate-12">
          <img class="object-cover object-center w-full h-full rounded-full" src="./images/lnmiit.logo.png"/>
        </a>
      </div>
    </div>
</body>
</html>